.education-tbl {
    margin-bottom: 25px;
    width: 100%;
    border-collapse: collapse;
}

thead {
    font-weight: bold;
}

.education-tbl td {
    padding: 10px;
    border: 1px solid;
    border-collapse: collapse;
}

.education-tbl td a {
    text-decoration: none;
}

.exp-wrapper {
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}

.exp-header {
    margin-bottom: 10px;
}

.exp-header span {
    float: right;
}

.exp-wrapper ul {
    margin-left: 20px;
}

.exp-wrapper ul li {
    margin-bottom: 3px;
}

.exp-wrapper:last-child {
    border-bottom: 0;
}

form {
    margin-top: 20px;
}

.form-group {
    margin: 15px 0;
}

.form-group label {
    display: block;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    height: 150px;
}

.form-group button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.form-group button:hover {
    background-color: #0056b3;
}

.row-6 {
    width: 50%;
}

.row-3 {
    width: 25%;
}

.contact-row {
    margin-bottom: 20px;
}

.contact-row a {
    text-decoration: none;
}

.gallery {
    display: flex;
    margin-right: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-img {
    width: 100%;
    height: 100%;
}

.gallery-item {
    max-width: 45%;
}


@media only screen and (max-width: 768px) {
    .row-6, .row-3 {
        width: 100%;
        margin-bottom: 20px;
    }  
}

@media only screen and (max-width: 545px) {

    .education-tbl td {
        padding: 5px;
    }
}